.d-inline a,
.d-inline span{
    text-decoration: none;
    color: #9ca3af;
}

.d-inline a:hover {
    color: #1a202c;
}

.hidden {
    display: none;
}

a.copy {
    text-decoration: none;
    color: black;
}

.custom-file-upload {
    text-align: center;
    border: 1px dashed #fff;
    cursor: pointer;
    color: #fff;
}

.overlay {
    background-color: #1a202c;
    height: 175px;
    margin-top: 32px;
}

.dis-button {
    height: 130px;
}

#labelForInputImg {
    cursor: pointer;
}

#dropContainer {
    height: 100vh;
}

#wrapper-result {
    min-height: 177px;
    background-color: #1a202c;
}

/*remove-bg*/
.upload-form {
    background-color: #1a202c;
}

.card-without-border {
    border-width: 0;
}

.card-with-shadow {
    box-shadow: 0 0 40px #0000001a;
    border-width: 0;
}

.card-rounded-max {
    border-radius: 20px;
}

.icon-layer {
    color: #d3d3d7;
}

.card-rounded-max .card-footer:last-child {
    border-radius: 0 0 20px 20px;
}

.card-without-border .card-footer {
    border-top-width: 0;
    background-color: #ebedf1;
}

.upload {
    /*background: #fff;*/
    background: #1a202c;
    padding: 15px;
    box-shadow: 0 0 3px #00000029;
    border-radius: 2px;
    position: relative;
    min-height: 300px;
    max-width: 990px;
    margin: 20px auto;
}

.nav-link {
    color: black;
}

.nav.nav-tabs {
    border-bottom: none !important;
}

#dropContainer {
    max-height: 100vh;
    overflow-y: auto;
}

.title-container .title,
#loading,
#selectedImagesContainer,
#result{
    color: #fff !important;
}

#before-copy,
#after-copy,
#before-copy-para,
#after-copy-para{
    color: rgba(213, 59, 53, 0.9);
}

#before-copy:hover,
#after-copy:hover,
#before-copy-para:hover,
#after-copy-para:hover{
    color: #fff;
    text-decoration: underline;
}

.btn.btn-outline-info.btn-lg.rounded-pill:hover {
    color: #fff;
}

.nav-link.active {
    /*color: #000 !important;*/
    background-color: #1a202c;
    text-decoration: underline;
    font-weight: 700;
    color: #02e1ff !important;
}

.nav-item .nav-link:focus{
    border: none;
    background-color: #1a202c;
}

.nav-item .nav-link:not(:focus) {
    border: none;
    background-color: #1a202c;
}

.btn-white {
    background-color: #fff !important;
}

#result #imgOriginal img,
#result #imgRemoved img {
    max-height: 350px;
    width: auto;
}

.transparency-grid {
    background-color: #fff;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA3LjkzNyA3LjkzOCcgaGVpZ2h0PSczMCcgd2lkdGg9JzMwJz48ZyBmaWxsPScjZWVlZmYwJz48cGF0aCBwYWludC1vcmRlcj0nc3Ryb2tlIGZpbGwgbWFya2VycycgZD0nTS4wMTQuMDE0SDMuOTdWMy45N0guMDE0ek0zLjk3IDMuOTY4aDMuOTU0djMuOTU1SDMuOTd6Jy8+PC9nPjwvc3ZnPgo=);
    background-size: 25px;
}
